.circle-bg {
  width: 72%;
  aspect-ratio: 1;
  background-color: var(--panel-circle-bg);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.captured-black-pieces {
  width: 93%;
  aspect-ratio: 1;
  font-size: 36cqw;
  font-weight: 600;
  color: #ffffff;
  background-color: #000000;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
