.labels {
  width: 44%;
  aspect-ratio: 16 / 1;
  background-color: var(--foreground);
  border: var(--border);
  border-top: none;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  container-type: inline-size;
}

.label {
  background-color: var(--label-bg);
  font-size: 3cqw;
  display: grid;
  place-items: center;
}
