.btn {
  width: 6.5%;
  aspect-ratio: 6.5 / 2.75;
  background-color: var(--background);
  appearance: none;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn > svg {
  height: 60%;
  fill: var(--foreground);
}
