.numbers {
  width: 2.75%;
  aspect-ratio: 1 / 16;
  background-color: var(--foreground);
  border: var(--border);
  border-right: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  container-type: inline-size;
}

.number {
  font-size: 50cqw;
  background-color: var(--label-bg);
  display: grid;
  place-items: center;
}
