.white {
  background-color: var(--white-square);
}

.black {
  background-color: var(--black-square);
}

.white-man {
  width: 80%;
  height: 80%;
  margin: 10% 0 0 10%;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3;
  cursor: pointer;
}

.black-man {
  width: 80%;
  height: 80%;
  margin: 10% 0 0 10%;
  border-radius: 50%;
  background-color: #000;
  z-index: 3;
  cursor: pointer;
}

.white-king {
  width: 80%;
  height: 80%;
  margin: 10% 0 0 10%;
  background: radial-gradient(circle, #fff 45%, #777 50%, #fff 55%);
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.black-king {
  width: 80%;
  height: 80%;
  margin: 10% 0 0 10%;
  background: radial-gradient(circle, #000 45%, #383838 50%, #000 55%);
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.selected-piece {
  width: 100%;
  height: 100%;
  background-color: var(--square-of-selected-piece);
  z-index: 2;
}

.landing {
  width: 100%;
  height: 100%;
  background-color: var(--landing-square);
  z-index: 2;
  cursor: pointer;
}

.forced-piece {
  width: 100%;
  height: 100%;
  background-color: var(--square-of-forced-piece);
  z-index: 2;
}

.capturable-piece {
  width: 100%;
  height: 100%;
  background-color: var(--square-of-capturable-piece);
  z-index: 2;
}
