.white,
.black,
.selected-piece,
.landing,
.forced-piece,
.capturable-piece {
  display: grid;
  place-items: center;

}

.white {
  background-color: var(--white-square);
}

.black {
  background-color: var(--black-square);
}

.selected-piece {
  background-color: var(--square-of-selected-piece);
}

.landing {
  background-color: var(--landing-square);
  cursor: pointer;
}

.forced-piece {
  background-color: var(--square-of-forced-piece);
}

.capturable-piece {
  background-color: var(--square-of-capturable-piece);
}

.white-man,
.black-man,
.white-king,
.black-king {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  cursor: pointer;
}

.white-man {
  background-color: #fff;
}

.black-man {
  background-color: #000;
}

.white-king {
  background: radial-gradient(circle, #fff 45%, #000 50%, #fff 55%);
}

.black-king {
  background: radial-gradient(circle, #000 46%, #cccccc 50%, #000 54%);
}
