.select {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
  opacity: .9;
  position: absolute;
  z-index: 4;
  font-size: 3cqw;
}

.select div:hover {
  background-color: var(--modal-buttons-hover);
}

.new-game {
  width: 25%;
  margin-bottom: 3%;
  padding: .5%;
  text-align: center;
  border: var(--border);
  border-radius: 5rem;
  cursor: pointer;
}

.continue {
  width: 40%;
  margin-top: 3%;
  padding: .5%;
  text-align: center;
  border: var(--border);
  border-radius: 5rem;
  cursor: pointer;
}