.draw-offer {
  position: absolute;
  inset: 0;
  font-size: 4.8cqw;
  background-color: var(--modal-bg);
  opacity: .9;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black-side {
  transform: rotate(180deg);
}

.draw-offer > div:first-child {
  margin-top: 25%;
}

.select-view-side {
  width: 75%;
  margin-top: 10%;
  padding: 1%;
  border: var(--border);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select-view-side:hover {
  background-color: var(--modal-buttons-hover);
}

.chess-board {
  width: 7.4%;
  aspect-ratio: 1;
  fill: var(--background);
  background-color: var(--foreground);
  border-radius: 20%;
}

.draw-offer .chess-board {
  margin-right: 1%;
}

.black-side .chess-board {
  margin-right: 0;
  margin-left: 1%;
}

.caret {
  width: 5%;
  fill: var(--foreground);
}

.approval {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.approval div {
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
  border: var(--border);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.approval div:hover {
  background-color: var(--modal-buttons-hover);
}

.approval div svg {
  width: 12%;
  margin-right: 5%;
  fill: var(--foreground);
}

.unclickable {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 1;
}
